# Python bytecode files
__pycache__/
**/__pycache__/*
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env
*.env

# IDE settings and project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Flask and general logs
*.log
logs/
*.sqlite3

# Static files and build artifacts
/static/*.map
/static/*.log
/static/*.bak
/static/*.cache
/static/images/*

# Compiled C extensions
*.so

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Migrations (depending on configuration)
migrations/

# Jupyter Notebooks
.ipynb_checkpoints/

# Coverage reports
htmlcov/
coverage.xml
*.cover

# Other Python files
*.egg-info/
.eggs/
node_modules/
