{% extends 'layout/layout.html' %}
{% block head %}
<title>Coating Tool - Welcome</title>
{% endblock head %}
{% block body %}

<!-- Hero Section -->
<div class="hero-section flex flex-col items-center justify-center">
  <h1 class="text-5xl font-bold mb-6">Welcome to the AW SpectraCoat™ Studio</h1>
  <p class="text-lg mb-10">Discover the Perfect Coating Design: Simulate, Analyze, and Innovate.</p>
  <div class="flex space-x-6">
    <!-- Login Button -->
    <a href="/login" class="btn-primary shadow-lg">Login</a>
    <!-- Register Button -->
    <a href="/register" class="btn-primary shadow-lg">Register</a>
  </div>
</div>

<!-- Add this inside the body tag -->
<div class="flex justify-center mt-8 mb-8">
  <video width="480" height="320" controls="">
    <source src="/static/images/MyVideo.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

{%endblock body%}