<div class="flex flex-col md:flex-row gap-8 max-w-6xl w-full">
  <!-- Free Tier -->
  <div
    class="flex-1 rounded-lg p-8 pt-14 bg-white text-black relative hover:scale-105 transition duration-300 border border-black">
    <div class="flex flex-col justify-between h-full">
      <div>
        <h2 class="text-2xl font-bold mb-2">Free</h2>
        <p class="text-sm mb-4">Best for tryout</p>
        <div class="text-3xl font-bold mb-4">
          $0 <span class="text-base font-normal">/ Per Month</span>
        </div>
        <div class="mb-6">
          <p class="font-bold mb-2">Features</p>
          <ul class="space-y-2">
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 1</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 2</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 3</span>
            </li>
          </ul>
        </div>
        <div>
        </div>
      </div>
      <a href="/subscription/activate-trial">
        <button
          class="w-full bg-black text-white py-2 rounded-sm mb-4 hover:text-black hover:bg-white transition duration-300 border border-black">
          Upgrade
        </button>
      </a>

    </div>
  </div>

  <!-- Basic Tier -->
  <div
    class="flex-1 rounded-lg p-8 pt-14 bg-white text-black relative hover:scale-105 transition duration-300 border border-black">
    <div class="flex flex-col justify-between h-full">
      <div>
        <h2 class="text-2xl font-bold mb-2">Basic</h2>
        <p class="text-sm mb-4">Best for normal use</p>
        <div class="flex justify-between">
          <div class="text-3xl font-bold mb-4 flex flex-col">
            <span>
              $20
            </span>
            <span class="text-base font-normal">Per Month</span>
          </div>
          <span class="text-5xl">|</span>
          <div class="text-3xl font-bold mb-4 flex flex-col">
            <span>
              $200
            </span>
            <span class="text-base font-normal">Per Year</span>
          </div>
        </div>
        <div class="mb-6">
          <p class="font-bold mb-2">Features</p>
          <ul class="space-y-2">
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 1</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 2</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 3</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 4</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 5</span>
            </li>
          </ul>
        </div>
      </div>
      <button
        class="w-full bg-black text-white py-2 rounded-sm mb-4 hover:text-black hover:bg-white transition duration-300 border border-black show-subscription-drawer-btn"
        data-type="basic">
        Upgrade
      </button>
      <!-- <a href="https://intelladapt.myshopify.com/cart/43091473367139:1?channel=buy_button">
        <button
          class="w-full bg-black text-white py-2 rounded-sm mb-4 hover:text-black hover:bg-white transition duration-300 border border-black">
          Upgrade
        </button>
      </a> -->
    </div>
  </div>

  <!-- Business Tier -->
  <div
    class="flex-1 rounded-lg p-8 pt-14 bg-[#2F4153] border border-[#2F4153] text-white relative hover:scale-105 transition duration-300">
    <div class="flex flex-col justify-between h-full">
      <div>
        <span class="absolute top-4 right-4 bg-white text-black text-xs font-bold px-2 py-1 rounded">
          BEST OFFER
        </span>
        <h2 class="text-2xl font-bold mb-2">Premium</h2>
        <p class="text-sm mb-4">Best for daily uses</p>
        <div class="flex justify-between">
          <div class="text-3xl font-bold mb-4 flex flex-col">
            <span>
              $30
            </span>
            <span class="text-base font-normal">Per Month</span>
          </div>
          <span class="text-5xl">|</span>
          <div class="text-3xl font-bold mb-4 flex flex-col">
            <span>
              $300
            </span>
            <span class="text-base font-normal">Per Year</span>
          </div>
        </div>
        <div class="mb-6">
          <p class="font-bold mb-2">Features</p>
          <ul class="space-y-2">
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 1</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 2</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 3</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 4</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 5</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 6</span>
            </li>
            <li class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span class="text-sm">Feature 7</span>
            </li>
          </ul>
        </div>
      </div>
      <button
        class="w-full bg-black text-white py-2 rounded-sm mb-4 hover:text-black hover:bg-white transition duration-300 border border-black show-subscription-drawer-btn"
        data-type="premium">
        Upgrade
      </button>
      <!-- <a href="https://intelladapt.myshopify.com/cart/43091539918947:1?channel=buy_button">
        <button
          class="w-full bg-black text-white py-2 rounded-sm mb-4 hover:text-black hover:bg-white transition duration-300 border border-black">
          Upgrade
        </button>
      </a> -->
    </div>
  </div>
</div>

<!-- container for overlay and sidebar -->
<div class="relative">
  <!-- overlay -->
  <div id="drawer-overlay" class="fixed inset-0 z-30 hidden bg-black bg-opacity-50 transition-all"></div>

  <!-- drawer component -->
  <div id="subscription-drawer-navigation"
    class="fixed top-0 right-0 z-40 w-full sm:w-96 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-[#2F4153] z-[9999]"
    tabindex="-1" aria-labelledby="drawer-navigation-label">
    <button type="button" id="close-drawer-btn"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 left-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
    <form class="pt-12 text-white h-full flex flex-col justify-between" method="post" action="/subscription/checkout"
      id="subscription-form">
      <div>
        <h1 class="text-3xl font-bold mb-8" id="subscription-drawer-title">Basic Package</h1>
        <div class="space-y-4">
          <input type="hidden" name="type" id="subscription-type" value="basic">
          <!-- 12 Months Plan -->
          <label class="block">
            <div
              class="price-card border border-gray-500 rounded-lg p-3 py-6 cursor-pointer hover:shadow-lg hover:-translate-y-1 transition duration-300">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <input type="radio" name="plan" value="monthly" class="w-5 h-5 text-gray-600 m-0" checked>
                  <span class="text-xl font-semibold">1 Months</span>
                </div>
                <div class="text-right">
                  <div class="flex items-center justify-end gap-2">
                    <span class="text-2xl font-bold monthly-rate">$20.00</span>
                    <span class="text-gray-300">/mo</span>
                  </div>
                </div>
              </div>
            </div>
          </label>

          <!-- 24 Months Plan -->
          <label class="block">
            <div
              class="price-card border border-gray-500 rounded-lg p-3 cursor-pointer hover:shadow-lg hover:-translate-y-1 transition duration-300">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <input type="radio" name="plan" value="yearly" class="w-5 h-5 text-gray-600 m-0">
                  <span class="text-xl font-semibold">12 Months</span>
                </div>
                <div class="text-right flex-grow">
                  <div class="flex items-center justify-end gap-2">
                    <span class="text-2xl font-bold" id="yearly-rate">$200.00</span>
                    <span class="text-gray-300">/year</span>
                  </div>
                  <div class="flex items-center justify-end gap-2 line-through text-gray-300">
                    <span class="text-xl font-bold monthly-rate">$20.00</span>
                    <span>/mo</span>
                  </div>
                  <div class="flex items-center justify-end gap-2">
                    <span class="text-xl font-bold" id="yearly-affected-monthly-rate">$16.67</span>
                    <span class="text-gray-300">/mo</span>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
      </div>
      <button
        class="inline-flex justify-center items-center gap-2 w-full bg-transparent text-white py-3 mb-4 border border-white rounded-sm transition-all duration-500 hover:text-black hover:bg-white"
        type="submit" id="subscription-drawer-submit">
        <span>
          Proceed to Checkout
        </span>
        <div role="status" class="hidden" id="subscription-drawer-submit-loader">
          <svg aria-hidden="true" class="size-5 text-gray-200 animate-spin dark:text-gray-600 fill-white"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill" />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </button>
  </div>
</div>
</div>