<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AW SpectraCoat Studio</title>
    {% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endblock styles %}
</head>

<body>
    <!-- Heading Section -->
    <div class="heading-container">
        <h1>AW SpectraCoat™ Studio</h1>
        <p>Discover the Perfect Coating Design: Simulate, Analyze, and Innovate.</p>
    </div>

    <!-- Login Container -->
    <div class="login-container">
        <img src="https://awi-three.vercel.app/AWILogo.svg" alt="AWI Logo" class="logo">

        <h2>Login</h2>

        <!-- Login Form -->
        <form action="{{ url_for('login') }}" method="post">
            <input type="email" name="email" class="input-login" placeholder="Enter your email" required>
            <input type="password" name="password" class="input-login" placeholder="Enter your password" required>
            <button type="submit" class="btn-primary">Login</button>
        </form>

        <!-- Forgot Password and Register Links -->
        <a href="#" class="text-link" id="forgotPasswordLink">Forgot Password?</a>
        <a href="/register" class="text-link">Don't have an account? Register here</a>
    </div>


    <!-- Forgot Password Modal -->
    <div class="modal" id="forgotPasswordModal">
        <div class="modal-content">
            <h3>Reset Password</h3>
            <form action="/reset_password" method="POST">
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="password" name="new_password" placeholder="New Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <!-- Updated Reset Password Button -->
                <button type="submit">Reset Password</button>
            </form>
            <!-- Close Button -->
            <button class="close-btn" id="closeModal">Close</button>
        </div>

    </div>

    <script>
        const forgotPasswordLink = document.getElementById("forgotPasswordLink");
        const forgotPasswordModal = document.getElementById("forgotPasswordModal");
        const closeModal = document.getElementById("closeModal");

        // Open the modal
        forgotPasswordLink.addEventListener("click", (e) => {
            e.preventDefault();
            forgotPasswordModal.style.display = "flex";
        });

        // Close the modal
        closeModal.addEventListener("click", () => {
            forgotPasswordModal.style.display = "none";
        });
    </script>
</body>

</html>