<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock head %}
  {% block styles %}
  <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
  {% endblock styles %}
</head>

<body>
  {% if request.path == url_for('app.index') %}
  {% include 'layout/auth/navbar-index.html' %}
  {% elif request.path == url_for('app.welcome') %}
  {% include 'layout/auth/navbar-welcome.html' %}
  {% elif request.path == url_for('app.public_designs') %}
  {% include 'layout/auth/navbar-public-design.html' %}
  {% elif request.path == url_for('app.help') %}
  {% include 'layout/auth/navbar-help.html' %}
  {% else %}
  {% include 'layout/auth/navbar.html' %}
  {% endif %}

  {% block body %}{% endblock body %}

</body>

{% block scripts %}{% endblock scripts %}

</html>