{% for item in nav_links %}
{% if item.type == 'dropdown' %}
<div class="relative dropdown">
    <button class="menu-item">{{ item.name }}</button>
    <div class="dropdown-menu">
        {% for submenu in item.submenu %}
        <button onclick="{{ submenu.action }}">{{ submenu.name }}</button>
        {% endfor %}
    </div>
</div>
{% elif item.type == 'button' %}
<button class="menu-item" onclick="{{ item.action }}">{{ item.name }}</button>
{% else %}
<a class="menu-item" href="{{ item.url }}" {% if item.download %}download="{{ item.download }}" {% endif %}>
    {{ item.name }}
</a>
{% endif %}
{% endfor %}