<nav class="navbar flex items-center justify-between px-4 py-2 bg-black text-white">
    <div class="flex space-x-4">
        <a href="https://adaptivewaves.com/" target="_blank">
            <img src="https://awi-three.vercel.app/AWILogo.svg" alt="AW Logo" class="h-8 w-auto">
        </a>

        <a href="/welcome">Home</a>

        <!-- Load Dropdown -->
        <div class="relative dropdown">
            <button>Load </button>
            <div class="dropdown-menu">
                <button onclick="openDesign()">Open Design</button>
                <button onclick="document.getElementById('materialFileInput').click();">Load Material</button>
            </div>
        </div>

        <!-- Save Button -->
        <button onclick="saveDesign()">Save</button>

        <!-- Downloads Dropdown -->
        <div class="relative dropdown">
            <button>Downloads </button>
            <div class="dropdown-menu">
                <button onclick="downloadGraph()">Graph (JPEG)</button>
                <button onclick="downloadCSV()">Data (CSV)</button>
                <button onclick="downloadPDF()">Data (PDF)</button>
                <button onclick="downloadDesignJSON()">Design (JSON)</button>
            </div>
        </div>

        <!-- Results Dropdown -->
        <div class="relative dropdown">
            <button>Results </button>
            <div class="dropdown-menu">
                <button onclick="showTransmittance()">Show Transmittance</button>
                <button onclick="showReflectance()">Show Reflectance</button>
                <button onclick="openColorChart()">Color Chart</button>

            </div>
        </div>

        <a href="/public_designs">All Designs</a>
        <a href="/help">Help</a>
    </div>

    <div class="flex space-x-4">
        <span>Welcome, {{ first_name }}!</span>
        <a href="/logout">Logout</a>
    </div>
</nav>