<nav class="navbar">
    <div class="flex space-x-4">
        <a href="https://adaptivewaves.com/" target="_blank">
            <img src="https://awi-three.vercel.app/AWILogo.svg" alt="AW Logo" class="h-8 w-auto">
        </a>

        <a href="/welcome">Home</a>
        <!-- Load Dropdown -->
        <div class="relative dropdown">
            <button class="text-white">Load </button>
            <div class="dropdown-menu">
                <button class="block px-4 py-2 hover:bg-gray-200" onclick="redirectToIndex('openDesign')">Open
                    Design</button>
                <button class="block px-4 py-2 hover:bg-gray-200"
                    onclick="document.getElementById('materialFileInput').click();">Load Material</button>
            </div>
        </div>

        <a href="/public_designs">All Designs</a>
        <a href="/help">Help</a>
    </div>
    <div class="flex space-x-4">
        <span>Welcome, {{ first_name }}!</span>
        <a href="/logout">Logout</a>
    </div>
</nav>