<!-- Navbar -->
<nav class="navbar text-white px-8 py-4 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="https://awi-three.vercel.app/AWILogo.svg" alt="AW Logo" class="h-8 w-auto">
            <!-- Logo added here -->
            <h1 class="text-2xl font-bold">AW SpectraCoat™ Studio</h1>
        </div>
        <ul class="flex space-x-6">
            <li><a href="/login" class="hover:text-gray-300">Home</a></li>
            <li><a href="/help" class="hover:text-gray-300">Help</a></li>
        </ul>
        <div>
            <a href="/login" class="hover:text-gray-300">Log in</a>
            <a href="/register" class="btn-primary shadow-lg">Sign Up</a>
        </div>
    </div>
</nav>